body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body .invalid-tooltip {
  --bs-border-radius: 0.25rem;
  background-color: rgba(220, 53, 69, 0.9);
}

.form-control {
  --bs-border-radius: 0.25rem;
}

.btn {
  --bs-border-radius: 0.25rem;
}


.py-1.border.rounded-2{
  --bs-border-radius: 0.25rem!important
}

.ps-2 {
  padding-left: 0.5rem!important;
}

/* .dropdown-menu {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
  color: #212529;
  display: none;
  font-size: 1rem;
  list-style: none;
  margin: 0;
  min-width: 10rem;
  padding: 0.5rem 0;
  position: absolute;
  text-align: left;
  z-index: 1000;
} */

/* .dropdown-item:focus,.dropdown-item:hover {
  background-color: #e9ecef;
  color: #1e2125
}

.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25)
}

.dropdown-toggle.btn-secondary:focus {
  box-shadow: 0 0 0 0.25rem hsla(208,6%,54%,.5)
}
.w-100.rounded-0.text-start.btn.btn-secondary:focus {
  box-shadow: 0 0 0 0.25rem hsla(208,6%,54%,.5)

} */

.is-ivalid {
  border-color:#dc3545
}

/* .modal-backdrop {
  background-color:#000
}

.modal-content {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  outline: 0;
  pointer-events: auto;
  position: relative;
  width: 100%
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
  
}

button[type="submit"].btn.btn-primary {
  box-shadow: none;
}

button[type="button"].btn.btn-group-vertical {
  width: 22px;
  height: 24px;
  display: inline-flex;
} 

button[type="button"].btn.btn-group-vertical:focus {
  outline: 0
}

button[type="submit"].btn.btn-group-vertical:disabled {
  opacity: .65;
  pointer-events: none;
  border-color: transparent;
}  

input.form-control {
  border:1px solid #ced4da;
} 

.btn.btn-outline-primary {
  color: #0d6efd;
  background-color: #fff;
  border-color: #0d6efd;
} 


.btn.btn-outline-primary:hover {
  color: #fff;
  background-color: #0d6efd;
} 

.btn.btn-outline-primary:focus {
  border-color: #0d6efd;
  color: #0d6efd;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.5);
} 

.btn.btn-outline-primary:focus:hover {
  color: #fff;
  background-color: #0d6efd;
} 

.w-100.rounded-0.text-start,
.dropdown-toggle-split {
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;;
  color: #212529;
  border-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;;
}




*/

/* .custom-dropdown .btn,
.w-100.rounded-0.text-start {
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;;
  color: #212529;
  border-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;;
} */

/* Пример переопределения стилей для Dropdown.Toggle */




