body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body .invalid-tooltip {
  --bs-border-radius: 0.25rem;
  background-color: rgba(220, 53, 69, 0.9);
}

.form-control {
  --bs-border-radius: 0.25rem;
}

.btn {
  --bs-border-radius: 0.25rem;
}

.btn.btn-group-vertical {
  border: none; 
}

.rounded-2 {
  --bs-border-radius: 0.25rem!important
}

.dropdown-menu {
  inset: 0px 0px auto auto; 
  transform: translate(0px, 40px);
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
  color: #212529;
  display: none;
  font-size: 1rem;
  list-style: none;
  margin: 0;
  min-width: 10rem;
  padding: 0.5rem 0;
  position: absolute;
  text-align: left;
  z-index: 1000;
}

.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25)
}

.dropdown-toggle.btn-secondary:focus {
  box-shadow: 0 0 0 0.25rem hsla(208,6%,54%,.5)
}

.is-ivalid {
  border-color:#dc3545
}

/* .form-control.is-invalid {
  background-image: 
  background-position: right calc(0.375em + 0.1875rem) center;
  background-repeat: no-repeat;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
} */